@import url('http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif;
}

.App {
  text-align: left;
}

.home,
.professor,
.test {
  text-align: center;
}